[submodule "quilsoft-org/account-payment"]
	path = quilsoft-org/account-payment
	url = git@github.com:quilsoft-org/account-payment.git
	branch = 14.0

[submodule "quilsoft-org/account-financial-tools"]
	path = quilsoft-org/account-financial-tools
	url = git@github.com:quilsoft-org/account-financial-tools.git
	branch = 14.0

[submodule "quilsoft-org/odoo-argentina"]
	path = quilsoft-org/odoo-argentina
	url = git@github.com:quilsoft-org/odoo-argentina.git
	branch = 14.0

[submodule "quilsoft-org/odoo-argentina-ce"]
	path = quilsoft-org/odoo-argentina-ce
	url = git@github.com:quilsoft-org/odoo-argentina-ce.git
	branch = 14.0

[submodule "i2tsa/others-dev"]
	path = i2tsa/others-dev
	url = git@github.com:i2tsa/others-dev.git
	branch = main
